/* SVG Icon Styling */
svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}

/* Hide header on small screens */
@media (max-width: 500px) {
    .site-header {
        display: none !important;
    }
}

/* Container and max width styling */
.container,
.site-header,
.site-inner,
.main-navigation,
.page-landingpress-full-hf .site-header .container,
.page-landingpress-full-hf .main-navigation .container,
.page-landingpress-full-hf .site-footer-widgets .container {
    max-width: 1200px;
}

/* Layout for large screens (min-width 1200px) */
@media (min-width: 1200px) {
    .site-content .content-area {
        float: left;
        width: 64.51612903%;
    }

    .site-content .widget-area {
        float: right;
        width: 35.48387097%;
    }
}

/* Layout for medium and small screens (max-width 1199px) */
@media (max-width: 1199px) {
    .site-content .content-area {
        float: none;
        width: 100%;
    }

    .site-content .widget-area {
        float: none;
        width: 100%;
    }
}

